%one-line{
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: elipsis;
   
}

%light{
    background-color: beige;
    color:black;
}

%dark{
    background-color: black;
    color: aqua;
}