@import "../../common/style/breakpoints";

.error {
  position: absolute;
  left: 20px;
  top: 0px;
  color: red;
  border: 2px dotted red;
  width: 85%;

  text-align: center;
}

.label {
  position: relative;
}

.input {
  margin: 15px;

  padding: 15px;

  @media screen and (min-width: $md) {
    width: 40%;
  }
}

.invalid {
  border: 1px solid red;
}
